<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        CAMCAM ORDER
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://iili.io/3FLEqiB.png" sizes="32x32">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-toast-notification@3/dist/theme-sugar.css" rel="stylesheet">
    <style>
        .arrow {
            position: absolute;
            bottom: 130px;
            left: 50%;
            transform: rotate(0) translate(-50%, -50%);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            background: #ffddc4;
            width: 70px;
            height: 125px;
            align-items: center;
            justify-content: center;
            opacity: .5;
            border-radius: 40px;
        }

        .arrow span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid #ff7c20;
            border-right: 5px solid #ff7c20;
            transform: rotate(0);
            margin: -10px;
            animation: animate 2s infinite;
        }

        .arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }

        .arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }

        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    </style>
</head>
<body class="bg-orange-50">
<div id="app" class="max-w-md mx-auto bg-white rounded-3xl shadow-lg overflow-hidden sm:my-10 my-0">
    <div class="flex gap-1 items-center justify-center p-4">
        <img src="https://iili.io/3FLEqiB.png" alt="Recommended"
             class="w-[25px] h-[25px]">
        <h1 class="text-xl text-orange-500 font-semibold">
            ĂN VẶT CAM CAM
        </h1>
        <img src="https://iili.io/3FLEqiB.png" alt="Recommended"
             class="w-[25px] h-[25px]">
    </div>
    <div v-if="showOrderRecent" class="flex gap-1 items-center justify-center p-4 pt-0">
        <p class="text-xl text-green-500 text-center font-semibold mb-2">{{customerName}} đặt hàng thành công</p>
    </div>
    <div v-if="showOrderRecent"
         class="px-4 max-h-[calc(100vh-60px-89px-72px)] sm:max-h-[calc(100vh-60px-89px-72px-5rem)] overflow-y-auto">
        <div v-if="duTrend.subTotal>0">
            <div class="relative bg-gray-100 rounded-xl p-3">
                <div class="flex items-center justify-between mb-2">
                    <div :class="`bg-[url(${menuList[0].thumbnail})]`"
                         class="w-16 h-16 bg-cover bg-no-repeat bg-center rounded-full">
                    </div>
                    <div class="flex-1 ml-4 ">
                        <h2 class="text-md font-semibold">
                            {{menuList[0].name}}
                        </h2>
                        <p class="text-orange-600">
                            {{formatMoney(duTrend.subTotal)}}
                        </p>
                    </div>
                </div>
                <div class="flex gap-[5px] flex-wrap mt-3">
                    <div v-for="(item, key) in duTrend.listFlavor" :key="key"
                         :data-key="key" v-show="item.quantity > 0 || key==='mix'"
                         class="relative flex justify-between items-center gap-1 text-xs py-1 px-1 border border-gray-300 bg-white rounded-full cursor-pointer">
                        <strong>{{key==='mix' ? (duTrend.sumQuantity - duTrend.subSumQuantity) : item.quantity}}</strong> {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div v-for="(item, key) in orderRecent"
             class="relative flex items-center justify-between bg-gray-100 rounded-xl p-4 mb-4"
             :key="key">
            <div :class="`bg-[url(${item.thumbnail})]`"
                 class="w-16 h-16 bg-cover bg-no-repeat bg-center rounded-full">
            </div>
            <div class="flex-1 ml-4 ">
                <h2 class="text-lg font-semibold">
                    {{item.name}}
                </h2>
                <p class="text-orange-600">
                    {{formatMoney(item.price)}}
                </p>
                <label v-if="item.spicy_opt === true"
                       class="inline-flex align-items-center gap-[5px] hover:cursor-pointer">
                    <input type="checkbox" class="form-checkbox accent-orange-500/25 h-4 w-4 m-auto"
                           v-model="spicyOptions[item.id]"/>
                    <span>Cay nhiều</span>
                </label>
            </div>
            <div class="flex items-center">
                Số lượng:
                <span class="mx-2 text-orange-500 font-bold">{{item.quantity}}</span>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="px-4 max-h-[calc(100vh-60px-89px-72px)] sm:max-h-[calc(100vh-60px-89px-72px-5rem)] overflow-y-auto">
            <div v-show="!loading">
                <div v-if="menuList.length > 0"
                     class="relative mt-[15px] pt-[10px] trend border border-orange-500 p-[5px] mb-3 rounded-[15px]">
                    <p class="absolute -top-[20px] left-[10px] bg-white px-[10px] text-xl text-orange-500 font-semibold mb-1">
                        Đu Trend cùng Cam</p>
                    <div class="relative bg-gray-100 rounded-xl p-3">
                        <div class="flex items-center justify-between mb-2">
                            <div :class="`bg-[url(${menuList[0].thumbnail})]`"
                                 class="w-16 h-16 bg-cover bg-no-repeat bg-center rounded-full">
                            </div>
                            <div class="flex-1 ml-4 ">
                                <h2 class="text-md font-semibold">
                                    {{menuList[0].name}}
                                </h2>
                                <p class="text-orange-600">
                                    {{formatMoney(menuList[0][duTrend.listCombo[duTrend.activeCombo || '1goi'].keyPrice])}}
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-[5px]">
                            <a v-for="(item, key) in duTrend.listCombo" href="javascript:void(0)" :key="key"
                               :class="{
                                    'bg-orange-400 text-white border-orange-500': duTrend.activeCombo === key,
                                    'border-gray-300 bg-white': duTrend.activeCombo !== key
                               }"
                               class="text-xs py-1 px-3 border rounded-[4px] cursor-pointer"
                               @click="duTrend.activeCombo=key">{{item.name}}</a>
                        </div>
                        <div v-if="duTrend.activeCombo !== ''" class="flex gap-[5px] flex-wrap mt-3">
                            <div v-for="(item, key) in duTrend.listFlavor" :key="key"
                                 :data-key="key" v-show="menuList[0].miliket_flavor.includes(key)"
                                 :class="duTrend.activeFlavor === key || (key === 'mix' && duTrend.subSumQuantity < duTrend.sumQuantity) ? 'text-orange-800 border-orange-500 bg-orange-300' : ''"
                                 class="relative flex justify-between items-center gap-1 text-xs py-1 px-1 border border-gray-300 bg-white rounded-full cursor-pointer"
                                 @click="duTrend.activeFlavor = key">
                                <button v-if="key !== 'mix'"
                                        class="bg-white text-gray-600 rounded-full w-5 h-5 flex items-center justify-center"
                                        @click="decreaseQuantityMiliket(key)">
                                    -
                                </button>
                                <strong v-if="key !== 'mix'">{{item.quantity}}</strong> {{item.name}}
                                <button v-if="key !== 'mix'"
                                        class="bg-orange-600 text-white rounded-full w-5 h-5 flex items-center justify-center"
                                        @click="increaseQuantityMiliket(key)">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="flex justify-between mt-2 items-center">
                            <div class="flex items-start flex-col mr-1">
                                <p class="text-xs">Tổng: <strong class="text-orange-500">{{duTrend.sumQuantity}} gói</strong> (<strong class="text-orange-500">{{formatMoney(duTrend.subTotal)}}</strong>)</p>
                            </div>
                            <a v-if="duTrend.activeCombo !== ''"
                               class="block text-sm text-right hover:underline text-orange-500"
                               href="javascript:void(0)" @click="resetDuTrend()">Xóa bỏ</a>
                        </div>
                    </div>
                </div>
                <p v-if="menuList.length > 0" class="text-xl text-orange-500 font-semibold mb-1">Menu chính</p>
                <div v-show="item.is_show" v-for="(item, key) in menuList"
                     class="relative flex items-center justify-between bg-gray-100 rounded-xl p-2 mb-3"
                     :key="key">
                    <img v-if="item.best_seller === true" src="https://iili.io/3qZxtRI.png" alt="Recommended"
                         class="absolute -top-[5px] -left-[15px] w-[70px] h-[70px]">
                    <img v-else-if="item.is_new === true" src="https://iili.io/3qZfrox.png" alt="Recommended"
                         class="absolute top-[0px] -left-[10px] w-[50px] h-[50px]">
                    <img v-else-if="item.recommended === true" src="https://iili.io/3FLETOJ.png" alt="Recommended"
                         class="absolute top-[0px] -left-[10px] w-[40px] h-[40px]">
                    <div :class="`bg-[url(${item.thumbnail})]`"
                         class="w-16 h-16 bg-cover bg-no-repeat bg-center rounded-full">
                    </div>
                    <div class="flex-1 ml-4 ">
                        <h2 class="text-md font-semibold">
                            {{item.name}}
                        </h2>
                        <p class="text-orange-600">
                            {{formatMoney(item.price)}}
                        </p>
                        <label v-if="item.spicy_opt === true"
                               class="inline-flex align-items-center gap-[5px] hover:cursor-pointer">
                            <input type="checkbox" class="form-checkbox accent-orange-500/25 h-4 w-4 m-auto"
                                   v-model="spicyOptions[item.id]"/>
                            <span>Cay nhiều</span>
                        </label>
                    </div>
                    <div class="flex items-center">
                        <button class="bg-gray-200 text-gray-600 rounded-full w-8 h-8 flex items-center justify-center"
                                @click="decreaseQuantity(key)">
                            -
                        </button>
                        <span class="mx-2">{{item.quantity}}</span>
                        <button class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center"
                                @click="increaseQuantity(key)">
                            +
                        </button>
                    </div>
                </div>
                <p v-if="menuTopping.length > 0" class="text-xl text-orange-500 font-semibold mb-1">Topping</p>
                <div v-show="item.is_show" v-for="(item, key) in menuTopping"
                     class="relative flex items-center justify-between bg-gray-100 rounded-xl p-2 mb-3"
                     :key="key">
                    <img v-if="item.best_seller === true" src="https://iili.io/3qZxtRI.png" alt="Recommended"
                         class="absolute -top-[5px] -left-[15px] w-[70px] h-[70px]">
                    <img v-else-if="item.is_new === true" src="https://iili.io/3qZfrox.png" alt="Recommended"
                         class="absolute top-[0px] -left-[10px] w-[50px] h-[50px]">
                    <img v-else-if="item.recommended === true" src="https://iili.io/3FLETOJ.png" alt="Recommended"
                         class="absolute top-[0px] -left-[10px] w-[40px] h-[40px]">
                    <div :class="`bg-[url(${item.thumbnail})]`"
                         class="w-16 h-16 bg-cover bg-no-repeat bg-center rounded-full">
                    </div>
                    <div class="flex-1 ml-4 ">
                        <h2 class="text-md font-semibold">
                            {{item.name}}
                        </h2>
                        <p class="text-orange-600">
                            {{formatMoney(item.price)}}
                        </p>
                        <label v-if="item.spicy_opt === true"
                               class="inline-flex align-items-center gap-[5px] hover:cursor-pointer">
                            <input type="checkbox" class="form-checkbox accent-orange-500/25 h-4 w-4 m-auto"
                                   v-model="spicyOptions[item.id]"/>
                            <span>Cay nhiều</span>
                        </label>
                    </div>
                    <div class="flex items-center">
                        <button class="bg-gray-200 text-gray-600 rounded-full w-8 h-8 flex items-center justify-center"
                                @click="decreaseQuantity(key)">
                            -
                        </button>
                        <span class="mx-2">{{item.quantity}}</span>
                        <button class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center"
                                @click="increaseQuantity(key)">
                            +
                        </button>
                    </div>
                </div>
            </div>
            <div v-show="loading || menuList.length === 0">
                <img src="https://iili.io/3FZqYsR.png" alt="MENU CAMCAM removebg preview" border="0">
            </div>
            <div v-show="isShowArrow && !loading && menuList.length > 3" class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="px-4 py-2 border-t border-gray-200">
            <div class="flex w-full text-gray-600 mb-2">
                <div class="group relative w-full">
                    <label for="name"
                           class="block w-full pb-1 text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-orange-400">Cho
                        Cam xin tên:</label>
                    <input id="name" ref="uname" v-model="customerName" type="text"
                           class="peer h-10 w-full rounded-md bg-gray-50 px-4 outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:ring-2 focus:ring-orange-400"
                           placeholder="VD: CAM CAM NÈ"/>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 py-4 bg-gray-100 flex items-center justify-between">
        <span class="text-2xl font-semibold">{{formatMoney(total)}}</span>
        <button v-if="showOrderRecent" class="bg-orange-500 text-white rounded-full px-6 py-2 flex items-center"
                @click="resetData()">
            <i class="fas fa-arrow-left mr-2"></i>
            Quay lại Menu
        </button>
        <button v-else class="bg-gray-500 text-white rounded-full px-6 py-2 flex items-center"
                :class="{'bg-orange-500': total>0 && loading === false}" @click="sendOrder()">
            <i class="fas fa-paper-plane mr-2"></i>
            {{loading ? 'Đang gửi...' : 'Đặt đơn'}}
        </button>
    </div>
</div>

<script>
    const {createApp} = window.Vue;
    const app = createApp({
        setup() {
        },
        data() {
            return {
                menuList: [],
                menuTopping: [],
                total: 0,
                subTotal: 0,
                feeShip: 0,
                discount: 0,
                customerName: '',
                loading: false,
                isShowArrow: false,
                showOrderRecent: false,
                spicyOptions: {},
                infoData: {},
                orderRecent: [],
                duTrend: {
                    activeCombo: '', // 1goi, 6goi, 12goi, 1thung
                    activeFlavor: 'mix', // mix, kimchi, carbonara, cari, chuacay, phomai, kebab,
                    listCombo: {
                        '1goi': {name: '1 Gói', keyPrice: 'price', quantity: 1},
                        '6goi': {name: '6 Gói', keyPrice: 'price_cb1', quantity: 6},
                        '12goi': {name: '12 Gói', keyPrice: 'price_cb2', quantity: 12},
                        '1thung': {name: '1 Thùng', keyPrice: 'price_cb3', quantity: 16},
                    },
                    listFlavor: {
                        'mix': {name: 'MIX VỊ', quantity: 0},
                        'kimchi': {name: 'Kim chi', quantity: 0},
                        'carbonara': {name: 'Carbonara', quantity: 0},
                        'cari': {name: 'Cà ri', quantity: 0},
                        'chuacay': {name: 'Chua cay', quantity: 0},
                        'phomai': {name: 'Phô mai', quantity: 0},
                        'kebab': {name: 'Kebab', quantity: 0},
                    },
                    subTotal: 0,
                    sumQuantity: 0,
                    subSumQuantity: 0,
                    disableCombo: [],
                }
            }
        },
        watch: {
            'duTrend': {
                deep: true,
                handler() {
                    if(this.duTrend.activeCombo !== ''){
                        let sumQuantity = 0;
                        for (const key in this.duTrend.listFlavor) {
                            sumQuantity += this.duTrend.listFlavor[key].quantity;
                        }
                        this.duTrend.subSumQuantity = sumQuantity;
                        if (sumQuantity < this.duTrend.listCombo[this.duTrend.activeCombo].quantity) {
                            switch (this.duTrend.activeCombo) {
                                case '6goi':
                                    this.duTrend.sumQuantity = this.duTrend.listCombo['6goi'].quantity;
                                    break;
                                case '12goi':
                                    this.duTrend.sumQuantity = this.duTrend.listCombo['12goi'].quantity;
                                    break;
                                case '1thung':
                                    this.duTrend.sumQuantity = this.duTrend.listCombo['1thung'].quantity;
                                    break;
                                case '1goi':
                                    this.duTrend.sumQuantity = this.duTrend.listCombo['1goi'].quantity;
                                    break;
                            }
                        } else {
                            this.duTrend.sumQuantity = sumQuantity;
                            if (this.duTrend.sumQuantity > 15) {
                                this.duTrend.activeCombo = '1thung';
                            } else if (this.duTrend.sumQuantity > 11) {
                                this.duTrend.activeCombo = '12goi';
                            } else if (this.duTrend.sumQuantity > 5) {
                                this.duTrend.activeCombo = '6goi';
                            } else if (this.duTrend.sumQuantity < 6) {
                                this.duTrend.activeCombo = '1goi';
                            }
                        }
                        if (this.duTrend.sumQuantity > 0) {
                            this.duTrend.subTotal = this.calculatePriceDuTrend(this.duTrend.sumQuantity)
                        }
                        this.calculateTotal()
                    }
                }
            }
        },
        async mounted() {
            setTimeout(async () => {
                await this.getMenuList()
            }, 1000)
            this.getInfoUser()
        },
        methods: {
            formatMoney(money) {
                return new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(money);
            },
            increaseQuantity(id) {
                this.menuList[id].quantity++;
                this.calculateTotal()
            },
            decreaseQuantity(id) {
                if (this.menuList[id].quantity > 0) {
                    this.menuList[id].quantity--;
                    this.calculateTotal()
                }
            },
            increaseQuantityMiliket(id) {
                this.duTrend.listFlavor[id].quantity++;
            },
            decreaseQuantityMiliket(id) {
                if (this.duTrend.listFlavor[id].quantity > 0)
                    this.duTrend.listFlavor[id].quantity--;
            },
            calculateTotal() {
                let subTotal = 0;
                for (const id in this.menuList) {
                    subTotal += this.menuList[id].quantity * this.menuList[id].price;
                }
                subTotal += this.duTrend.subTotal
                this.subTotal = subTotal;
                this.total = subTotal + this.feeShip - this.discount;
            },
            notify(type, message) {
                this.$toast.open({
                    message: message || "Đặt đơn thành công! Chờ Cam chút nhak! 😽",
                    type,
                    position: 'top'
                });
            },
            async resetData() {
                await this.getMenuList()
                this.resetDuTrend()
                this.showOrderRecent = false
                this.orderRecent = []
                this.loading = false;
                this.total = 0;
            },
            async sendOrder() {
                if (this.customerName === '') {
                    this.notify('error', 'Nhập tên để Cam biết ai nhak!😽')
                    this.$refs.uname.focus()
                } else if (this.containsXSS(this.customerName)) {
                    this.notify('error', 'Bạn ơi biết giỏi rồi đừng nghịch nữa!😽')
                    this.$refs.uname.focus()
                    await this.sendInfo()
                } else {
                    this.loading = true
                    const CHAT_ID = '-1002453504219';
                    const BOT_TOKEN = '7984088170:AAGcywp566fyAL4GOEyIL7dYtxiia3ZoZUg';
                    const date = new Date().toLocaleDateString("vi-VN"); // Lấy ngày hiện tại
                    const customerName = this.customerName;
                    const items = [];
                    const total = this.formatMoney(this.total);
                    this.menuList.forEach((item) => {
                        if (item.quantity > 0) {
                            this.orderRecent.push(item);
                            items.push(`<b>${item.quantity}</b> | ${item.name}${this.spicyOptions[item.id] ? ' <u><i>(Cay nhiều)</i></u>' : ''} | ${this.formatMoney(item.quantity * item.price)}`)
                        }
                    })
                    if(this.duTrend.subTotal > 0){
                        let flavorOpts = ''
                        let unMix = 0
                        for (const key in this.duTrend.listFlavor) {
                            if(this.duTrend.listFlavor[key].quantity > 0){
                                flavorOpts += `[<b>${this.duTrend.listFlavor[key].quantity}</b>${this.duTrend.listFlavor[key].name}] `
                                unMix+=this.duTrend.listFlavor[key].quantity
                            }
                        }
                        if(unMix < this.duTrend.sumQuantity){
                            flavorOpts += `[<b>${this.duTrend.sumQuantity - unMix}</b>Mix]`
                        }
                        items.push(`<b>${this.duTrend.sumQuantity}</b> | ${this.menuList[0].name} (${flavorOpts}) | ${this.formatMoney(this.duTrend.subTotal)}`)
                    }
                    if (items.length > 0) {
                        // Định dạng tin nhắn
                        const message = `🚀 ĐƠN MỚI ${date}\n`
                            + `😽 Khách: ${customerName}\n`
                            + `———————————\n`
                            + items.map(item => `🛒 ${item}`).join("\n") + `\n`
                            + `———————————\n`
                            + `💰 Tổng: <b>${total}</b>`;

                        await fetch(`https://api.telegram.org/bot${BOT_TOKEN}/sendMessage`, {
                            method: "POST",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify({
                                chat_id: CHAT_ID,
                                text: message,
                                "parse_mode": "HTML"
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                this.sendInfo()
                                this.notify('success', '')
                                this.showOrderRecent = true
                            })
                            .catch(error => {
                                this.notify('error', 'Lỗi rồi! Chờ xíuuu...')
                                console.error("Error:", error)
                            });
                    } else {
                        this.notify('error', 'Chọn sản phẩm đi bạn mình ơi!😽')
                    }
                }
            },
            async getMenuList() {
                this.menuList = []
                this.menuTopping = []
                this.loading = true
                const sheetId = "1ZBRf2GWkUbx7I6AK7I9hSgJ0iA5WXx0eFDByRPkWdqo";
                const apiKey = "AIzaSyCuxvzmaCbcCyieEXzkcOuZ0GBZ5aAIIhU";
                const sheetName = "MENU_ORDER";  // Change to your actual sheet name

                await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${sheetId}/values/${sheetName}?key=${apiKey}`)
                    .then(response => response.json())
                    .then(data => {
                        const dataFromSheet = this.convertToJSON(data?.values)
                        dataFromSheet.forEach(item => {
                            item.quantity = 0;
                            if (item.spicy_opt === true) {
                                this.spicyOptions[item.id] = false;
                            }
                            if (item.topping === true) {
                                this.menuTopping.push(item);
                            } else if (item.topping === false) {
                                this.menuList.push(item);
                            }
                        })
                        this.loading = false;
                        this.showArrow()
                    })
                    .catch(error => {
                        this.notify('error', 'Lỗi rồi! Chờ xíuuu...')
                        console.error("Error:", error)
                    });
            },
            convertToJSON(sheetData) {
                const headers = sheetData[0]; // First row as keys
                return sheetData.slice(1).map(row =>
                    Object.fromEntries(headers.map((key, index) => [
                        key, row[index] === "TRUE" ? true : row[index] === "FALSE" ? false : row[index]
                    ]))
                );
            },
            showArrow() {
                this.isShowArrow = true
                setTimeout(async () => {
                    this.isShowArrow = false
                }, 5000)
            },
            async getInfoUser() {
                await fetch("https://ipinfo.io/json")
                    .then(response => response.json())
                    .then(data => {
                        this.infoData = data
                    })
                    .catch(error => {
                        console.error("Error fetching IP address:", error);
                    });
            },
            async sendInfo() {
                const BOT_TOKEN = '7984088170:AAGcywp566fyAL4GOEyIL7dYtxiia3ZoZUg';
                // Message template with variables
                const message = `🌏 <b>Customer Name: ${this.customerName}</b>\n📍 <b>IP Address:</b> ${this.infoData.ip}\n🏠 <b>Hostname:</b> ${this.infoData.hostname}\n🌆 <b>City:</b> ${this.infoData.city}\n📍 <b>Region:</b> ${this.infoData.region}\n🇻🇳 <b>Country:</b> ${this.infoData.country}\n📌 <b>Location:</b> ${this.infoData.loc}\n🏢 <b>Organization:</b> ${this.infoData.org}\n📮 <b>Postal Code:</b> ${this.infoData.postal}\n⏰ <b>Timezone:</b> ${this.infoData.timezone}`;
                await fetch(`https://api.telegram.org/bot${BOT_TOKEN}/sendMessage`, {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        chat_id: '-1002265196841',
                        text: message,
                        "parse_mode": "HTML"
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('SUCCESS')
                    })
                    .catch(error => {
                        console.error("Error:", error)
                    });
            },
            containsXSS(input) {
                const xssPattern = /(<\s*script)|(<\s*img)|(<\s*iframe)|(<\s*object)|(<\s*embed)|(<\s*link)|(<\s*meta)|(<\s*svg)|(<\s*style)|(<\s*body)|(<\s*title)|(<\s*form)|(<\s*input)|(<\s*textarea)|(<\s*button)|(<\s*iframe)|(<\s*video)|(<\s*audio)|(<\s*base)|(<\s*isindex)|(<\s*marquee)|(<\s*math)|(<\s*xml)|javascript:|data:text\/html|vbscript:|expression\(|on\w+\s*=|&#x?[0-9a-f]+;|%3C|%3E|%3D|document\.|window\.|alert\(|confirm\(|prompt\(/i;
                return xssPattern.test(input);
            },
            calculatePriceDuTrend(quantity) {
                const pricingTiers = [
                    {qty: 16, price: this.menuList[0][this.duTrend.listCombo['1thung'].keyPrice]},
                    {qty: 12, price: this.menuList[0][this.duTrend.listCombo['12goi'].keyPrice]},
                    {qty: 6, price: this.menuList[0][this.duTrend.listCombo['6goi'].keyPrice]},
                    {qty: 1, price: this.menuList[0][this.duTrend.listCombo['1goi'].keyPrice]}
                ];
                let totalCost = 0;
                for (let tier of pricingTiers) {
                    while (quantity >= tier.qty) {
                        totalCost += Number(tier.price);
                        quantity -= tier.qty;
                    }
                }
                return totalCost;
            },
            resetDuTrend() {
                this.duTrend = {
                    activeCombo: '', // 1goi, 6goi, 12goi, 1thung
                    activeFlavor: '', // mix, kimchi, carbonara, cari, chuacay, phomai, kebab,
                    listCombo: {
                        '1goi': {name: '1 Gói', keyPrice: 'price', quantity: 1},
                        '6goi': {name: '6 Gói', keyPrice: 'price_cb1', quantity: 6},
                        '12goi': {name: '12 Gói', keyPrice: 'price_cb2', quantity: 12},
                        '1thung': {name: '1 Thùng', keyPrice: 'price_cb3', quantity: 16},
                    },
                    listFlavor: {
                        'mix': {name: 'MIX VỊ', quantity: 0},
                        'kimchi': {name: 'Kim chi', quantity: 0},
                        'carbonara': {name: 'Carbonara', quantity: 0},
                        'cari': {name: 'Cà ri', quantity: 0},
                        'chuacay': {name: 'Chua cay', quantity: 0},
                        'phomai': {name: 'Phô mai', quantity: 0},
                        'kebab': {name: 'Kebab', quantity: 0},
                    },
                    subTotal: 0,
                    sumQuantity: 0,
                    subSumQuantity: 0,
                    disableCombo: [],
                }
                this.calculateTotal()
            }
        }
    })
    app.use(VueToast.ToastPlugin);
    app.mount('#app')
</script>
</body>
</html>